*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90px;
    background: gray;
}

.phone {
    height: 470px;
    background: lightskyblue;
}

.section1{
    height: 490px;
    background: white;
}

.section2{
    height: 615px;
    background: lightslategrey;
}

footer{
    height: 95px;
    background: wheat;
}

@media screen and (min-width: 940px)
{
    .wrapper{
        width: 940px;
        margin: auto;
    }
}

@media screen and (min-width: 750px) and (max-width: 940px)
{
    
}