*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-main{
    
}

.header-content{
    display: flex;
    justify-content: space-between;
}




@media screen and (min-width: 940px)
{
    .wrapper{
        width: 940px;
        margin: auto;
    }
}

@media screen and (min-width: 750px) and (max-width: 940px)
{
    
}